<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shoes.shoeslaundry">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/wash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/wash"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".ui.admin.HistoryMonthActivity"></activity>
        <activity android:name=".ui.admin.EditPromotionActivity" />
        <activity android:name=".ui.user.PromotionDetailActivity" />
        <activity android:name=".ui.admin.CreatePromotionActivity" />
        <activity android:name=".ui.admin.AdminOrderDetailActivity" />
        <activity android:name=".ui.admin.ChatAdminActivity" />
        <activity android:name=".ui.user.InputOrderActivity" />
        <activity android:name=".ui.user.OrderActivity" />
        <activity android:name=".ui.user.OrderDetailActivity" />
        <activity android:name=".ui.user.EditProfileActivity" />
        <activity android:name=".ui.user.ProfileActivity" />
        <activity android:name=".ui.user.PromotionActivity" />
        <activity android:name=".ui.user.HistoryActivity" />
        <activity android:name=".ui.user.TrackActivity" />
        <activity android:name=".ui.user.ChatActivity" />
        <activity android:name=".ui.user.MainActivity" />
        <activity android:name=".ui.admin.MainAdminActivity" />
        <activity
            android:name=".ui.common.ForgotPasswordActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.common.LoginPage"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.common.LandingPage"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.common.SplashScreen"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.common.SignUpPage"
            android:configChanges="orientation" /> <!-- <receiver -->
        <!-- android:name=".utils.AlarmReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" -->
        <!-- android:permission="" /> -->
        <!-- <service -->
        <!-- android:name=".utils.notifications.FirebaseService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <service
            android:name=".utils.notifications.FirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/wash" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
    </application>

</manifest>